$mainBackgroundColor: rgba(0, 0, 0, 0.9);

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $mainBackgroundColor;
    color: white;
    font-family: sans-serif;
}

#app {
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background: linear-gradient(to right, #6b6b6b, #050505);
    border-radius: 30px 30px 12px 15px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.425);
    box-shadow: 0 0 15px white, inset -5px -5px 15px white;
}

ul {
    max-width: 700px;
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    li {
        padding-left: 1rem;
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.473);
        display: flex;
        align-items: center;
        margin: 5px;
        justify-content: space-between;
        font-weight: bold;
        background: linear-gradient(to right, #6b6b6b, #050505);
        color: white;
        box-shadow: 5px 5px 15px black, inset 5px 5px 15px gray;
        transition: all 0.5s ease-in-out;
        padding: 7px;
        overflow: hidden;

        p {
            font-size: 1.5;
            text-align: center;
            width: 60%;
            overflow: hidden;
        }

        .buttonContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            padding: 5px;
        }

        &:hover {
            box-shadow: 0 0 20px white, inset 5px 5px 20px white;
        }
    }
}

.pureTodo {
    justify-content: left;
    padding: 3px;
    width: 70%;
}

p {
    width: 60%;
}

.isDone {
    opacity: 0.3;
    p {
        text-decoration: line-through;
    }

    .changeStatus {
        // background-color: black;
        background-color: greenyellow;
        color: black;

        &:hover {
            // box-shadow: 0 0 20px white;
            box-shadow: 0 0 20px green;
        }
    }
}

.delete {
    padding: 0.5rem;
    border-radius: 7px;
    background-color: red;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.466);
    font-size: 1.2rem;
    margin: 5px;
    border: none;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px white;

    &:hover {
        box-shadow: 0 0 20px red;
    }
}

.changeStatus {
    padding: 0.5rem;
    border-radius: 7px;
    // background-color: greenyellow;
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.466);
    font-size: 1.2rem;
    margin: 5px;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px white;
    text-shadow: 1px 1px 2px white;
}

input {
    height: 30px;
    border-radius: 10px;
    padding-left: 1rem;
    margin-right: 5px;
    box-shadow: 0 0 35px black;
}

.addButton {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: green;
    cursor: pointer;
    box-shadow: 0 0 35px black;
}

h2 {
    text-decoration: underline;
    margin: 10px;
    text-align: center;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin: 20px;
}

.scrollArea {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    overflow-y: auto;
    box-shadow: inset 15px 5px 15px black, inset 5px 5px 20px black;
    border-radius: 15px;
    width: 100%;
    border-top: 15px solid rgba(0, 0, 0, 0.7);
}

.scrollable-element {
    scrollbar-color: red yellow;
}

@media (max-width: 700px) {
    #app {
        width: 100%;
    }

    .pureTodo {
        width: 100%;
    }
}

.fa-thumbtack {
    color: orange;
    margin: 10px;
}

.fa-check-circle {
    color: green;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    margin: 10px;
}


.statusContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.capsule{
    width: 100px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #050505;
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    box-shadow: inset 1px 1px 15px white, 5px 5px 15px black;
    font-weight: bold;
}

.openStatus{
    color: orange;
    text-shadow: 1px 1px 10px orange;
}
.closedStatus{
    color: rgb(32, 197, 32);
    text-shadow: 1px 1px 10px rgb(32, 197, 32);
}
